body{
    margin: 0;
    display: block;
    background: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 100%);
}

.black {
    background: #000000;
    width: 100%;
    height: 80px;
}

.black a:first-child{
    background: #000000;
    height: 75px;
    float: left;
    padding: 1px 0;
    border-width: 0;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.black img{
    height: 75px;
    margin-right: 10px;
    margin-left: 10px;
}

.black a:nth-child(2){
    background: #000000;
    height: 75px;
    float: right;
    padding: 1px 0;
    border-width: 0;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.black a:hover{
    background: #0c0c0c;
    cursor: pointer;
}

.black a:active{
    background: #252525;
    cursor: pointer;
}

a.button {
    display: inline-flex;
    background: #000000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.gray{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-around;
    align-content: stretch;
}

.gray img{
    height: 65px;
    margin-left: 10px;
}

p{
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 35px;
}

h2{
    text-indent: 30px;
    font-size: 25px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    text-indent: 30px;
    font-size: 25px;
}

a h2{
    text-indent: 0;
    margin: 20px;
}

.text{
    text-align: inherit;
    margin: 50px;
    border-radius: 20px;
    padding: 10px;
    display: block;
}

iframe{
    margin: 0 auto;
    display: block;
}

.pass{
    display: flex;
    margin-top: 100px;
    margin-bottom: 40px;
    justify-content: space-around;
    align-content: stretch;
}

.pass div{
    background: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    
}

.pass a{
    background: #000000;
    height: 75px;
    float: left;
    padding: 1px 0;
    border-width: 0;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.pass a img{
    height: 85px;
    margin-right: 10px;
    margin-left: 10px;
}