body{
    margin: 0;
    display: block;
    background: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 100%);
}

.pass{
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    margin: 100px 0 40px;
}

.pass form{
    background: #1e1e1e;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    max-width: 500px;
    max-width: 500px;
}

.pass img{
    margin: 20px 10px;
    height: 85px;
}

.pass .pass1 input{
    margin-bottom: 30px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #bdbcbc;
    padding: 20px;
    color: #333333;
}

input::-webkit-input-placeholder {
    font-size: 18px;
}

.pass input:hover{
    border-color: #ffffff;
}

.pass input:active{
    border: 2px solid #ffffff;
}

.pass input:focus {
    border: 2px solid #ffffff;
}

.pass button{
    display: flex;
    justify-content: center;
    width: 36%;
    margin: 10px auto 30px;
    padding: 15px 10px;
}

