@font-face {
    font-family: "Amazing Grotesk";
    font-style: normal;
    font-weight: 100;
    url("../Amazing_Grotesk/Amazing_Grotesk_Light.otf") format("otf");
}

body{
    margin: 0;
    display: block;
    background: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    font-family: "Amazing Grotesk", sans-serif;
}

h1{
    text-align: center;
    color: #295249;
    font-weight: 100;
}

p{
    text-align: center;
}

img{
    height: 5%;
}